@using Excubo.Blazor.Canvas

<!-- sourced from https://github.com/KristofferStrube/Blazor.MediaStreamRecording/blob/main/samples/KristofferStrube.Blazor.MediaStreamRecording.WasmExample/Shared/AmplitudePlot.razor -->

<h3>AmplitudePlot</h3>

<Canvas @ref="canvas" height="@(Height * 10)" width="@(Width * 10)" style="@CanvasStyle" />